@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --heading-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --body-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--body-font-family);
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
}
